In [2]:
#Q1

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [13]:
#Q2
import pandas as pd

url = "C:\\Users\\User\\Downloads\\FoodBalanceSheets_E_Africa_NOFLAG.csv"

food_data = pd.read_csv(url, encoding='latin-1')

unique_countries = food_data['Area'].nunique()
print("unique countries:", unique_countries)

unique countries: 49

In [17]:
#Q3

# columns
data_subset = food_data[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

# correlation coefficients
correlations = data_subset.corr()

#year with the least correlation
min_correlation = correlations['Element Code'][['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].idxmin()

print( min_correlation)

Y2016

In [28]:
#Q4
import numpy as np
array  = np.array ([[94, 89, 63], [93, 92, 48], [92, 94, 56]])
array[:2,1:]

array([[89, 63],
       [92, 48]])

In [77]:
#Q5

wine_data = food_data[(food_data['Item'] == 'Wine') & (food_data['Element'] == 'Production')]

wine_2015 = wine_data['Y2015'].sum()
wine_2018 = wine_data['Y2018'].sum()

print("2015:", wine_2015)
print("2018:", wine_2018)

2015: 1213.0
2018: 1091.0

In [39]:
#Q6
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

df = pd.DataFrame(lst, columns=col, index=[1,2,3])

print(df)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [41]:
#Q7
y2017_data = food_data['Y2017']

#mean and standard deviation
mean_2017 = y2017_data.mean()
std_2017 = y2017_data.std()

#rounding off to 2dp
mean_2017 = round(mean_2017, 2)
std_2017 = round(std_2017, 2)

print("Mean for the year 2017:", mean_2017)
print("Standard Deviation for the year 2017:", std_2017)

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

In [75]:
#Q8

grouped_element = food_data.groupby('Element')['Y2017'].sum()

processing_sum_2017 = grouped_element.get('Processing', 0) 

print(processing_sum_2017)

292836.0

In [74]:
#Q9

stock_variation_data = food_data[food_data['Element'] == 'Stock Variation']

element_grouped = stock_variation_data[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

year_with_highest_stock_variation = element_grouped.idxmax()

print(year_with_highest_stock_variation)

Y2014

In [73]:
#Q12
missing_count_2014 = food_data['Y2014'].isnull().sum()

total_rows = len(food_data)

percentage_missing_2014 = (missing_count_2014 / total_rows) * 100

percentage_missing_2014 = round(percentage_missing_2014, 3)

print("Total number:", missing_count_2014)
print("Percentage:", percentage_missing_2014, "%")

Total number: 1589
Percentage: 2.607 %

In [72]:
#Q13
selected_columns = food_data[['Y2017', 'Area']]

area_sum_2017 = selected_columns.groupby('Area')['Y2017'].sum()

area_with_highest_sum_2017 = area_sum_2017.idxmax()

print(area_with_highest_sum_2017)

Nigeria

In [61]:
#Q16

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [71]:
#q18
selected_columns = food_data[['Y2017', 'Area']]

area_sum_2017 = selected_columns.groupby('Area')['Y2017'].sum()

seventh_lowest_area = area_sum_2017.sort_values(ascending=True).index[6]

print(seventh_lowest_area)

Guinea-Bissau

In [67]:
#Q20
y = [(2, 4), (7, 8), (1, 5, 9)]


x = y[1][1]


print(x)

8